<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= pageTitle%></title>
  </head>
  <body>
    <%- include('../partials/adminNav') %>
    <h1>Edit Post!</h1>
    <form
      class="post-form"
      action="/blogs/<%=post._id%>?_method=PUT"
      method="POST"
    >
      <label for="name">Title:</label>
      <input
        placeholder="Post Title"
        type="text"
        name="title"
        id="title"
        value="<%= post.title %>"
        required
      />
      <label for="body">Body:</label>
      <textarea name="body" id="body" cols="50" rows="5">
<%= post.body %></textarea
      >
      <label for="rating">Rating:</label>
      <input
        placeholder="Rating"
        type="number"
        name="rating"
        id="rating"
        value="<%= post.rating %>"
        required
      />
      <label for="rating">Publisher Name:</label>
      <input
        placeholder="Publisher"
        type="text"
        name="publisher"
        id="publisher"
        value="<%= post.publisher %>"
        required
      />
      <div class="checkbox-div">
        <label for="isPublished">Publish?</label>
        <input type="checkbox" name="isPublished" id="isPublished" <%=
        post.isPublished?'checked':'' %> />
      </div>
      <button type="submit">Edit Post</button>
    </form>
  </body>
</html>
